.breeds {
    border: 1px solid;
    height: 48%;
    background-color: pink;
    border: 3px solid white;
    border-radius: 10px;
}

.breeds-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breeds-header button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: .5s;
}

.breeds-header button:hover {
    font-size: 18px;
}

.breed-list {
    height: 85%;
    overflow-y: scroll;
}

.breed-button {
    margin: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.675);
    border: none;
    font-size: 15px;
    transition: .5s;
}

.breed-button.unsorted-breed:hover {
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}

.breed-button.sorted-breed {
    background-color: pink;
    border: 3px solid white;
    transition: .5s;

}

.breed-button.sorted-breed:hover {
    opacity: .5;
    text-decoration: line-through;
}